footer a {
    transition: color 0.3s;
  }
  
  footer a:hover {
    color: #3b82f6;
  }
  
  footer ul li {
    list-style: none;
    margin-right: 20px;
  }
  @media (max-width: 768px) {
    footer {
      text-align: center;
    }
  
    footer .container {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  
    footer ul {
      display: inline-block;
      text-align: center;
    }
  }
  